html {
    color-scheme: dark;
  }
  * {
    box-sizing: border-box;
  }
  body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
  }
  .streamer {
    display: grid;
    gap: 1rem;
    padding: 1rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }
  .streamer > video {
    background-color: rgb(36, 36, 36);
    object-fit: cover;
    width: 100%;
    height: calc(100vh - 2rem);
  }
